body {
	background-image: url('/images/atmosphere.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: left top;
}

.circle-container {
	display: flex;
	align-items: center;
	margin-top: 60px;
	margin-left: 60px;
	color: #D53333;
	font-size: 31px;
}

.cricle-row {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	color: white;
	text-align: center;
	margin: 30px 10px;
	background-image: url('/images/MAVEN.png');
	background-size: cover;
	background-position: center center;
	position: relative;
	text-decoration: none;
	color: inherit;
	z-index: 1;
	transition: transform 0.3s;
}

.circle:hover {
	transform: scale(1.1);
}

