<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>About</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-bzEboWp1p7l7zecXrpm4b7BsGZKtJL+2iQwfz4Cc5fCp0AAUQeaE2Kpxd5iNjQl2" crossorigin="anonymous">
</head>

<body id="about-body">
    <section id="about-section">
        <div id="about-container">
            <h4>My name is</h4>
            <a href="contact"><h1 id="go-to-contact">Ace</h1></a>
            <p>Data Procurement | Digital Marketing | Human</p>
            <h1>Get to know me</h1>
            <p>
                Drawing from varied roles and armed with a Bachelor of Science in Computer Science, specializing in
                Information and Communication Technology, I bring a diverse blend of technical skills, adaptability, and
                a profound understanding of data procurement and management. 
                <br>

                </br>
                My professional experience is engagements
                with C++, primarily scipting in a Linux environment. I have a demonstrated history of developing and
                implementing robust data management systems and crafting engaging, high-impact digital content. My
                balanced amalgamation of academic knowledge, pratical experience, and technical acumen positions me as a
                versatile and valuable asset, ready to deliver meaningful contributions across diverse technological
                domains
            </p>
            <h3>Skills</h3>
            <ul>
                <li><i class="fas fa-database"></i> Data Procurement</li>
                <li><i class="fas fa-chart-line"></i> Digital Marketing</li>
                <li><i class="fas fa-laptop-code"></i> Programming</li>
            </ul>
        </div>        
    </section>

</body>

</html>